@import "../../node_modules/tippy.js/dist/tippy.css";
@import "../../node_modules/tippy.js/animations/shift-away.css";

.tippy-box {
    color: var(--foreground);
    background: var(--tooltip, var(--background));
}

.tippy-content {
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 600;
    max-width: 200px;
}

.tippy-arrow {
    color: var(--tooltip);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --ligatures: none;
    --text-size: 14px;
    --font: "Open Sans";
    --sidebar-active: var(--secondary-background);
    --titlebar-height: 29px;
    --titlebar-action-padding: 8px;
    --titlebar-logo-color: var(--secondary-foreground);
    --app-height: 100vh;
    --scrollbar-thickness: 10px;
    --scrollbar-thickness-ff: thin;
    --scrollbar-radius: var(--border-radius-half);
    --border-radius: 6px;
    --border-radius-half: 50%;
    --border-radius-user-icon: var(--border-radius-half);
    --border-radius-channel-icon: var(--border-radius-half);
    --border-radius-server-icon: var(--border-radius-half);
    --input-border-width: 2px;
    --textarea-padding: 10px;
    --textarea-line-height: 20px;
    --message-box-padding: 14px;
    --attachment-max-width: 480px;
    --attachment-max-height: 640px;
    --attachment-default-width: 400px;
    --attachment-max-text-width: 800px;
    --bottom-navigation-height: 50px;
}

html {
    background: var(--background);
}

* {
    box-sizing: border-box;
    font-family: var(--font) !important;
    image-rendering: -webkit-optimize-contrast;
    scrollbar-width: var(--scrollbar-thickness-ff);
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
    height: var(--scrollbar-thickness);
    width: var(--scrollbar-thickness);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    min-height: 40px;
    border-radius: 60px;
    background: var(--scrollbar-thumb);
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

a,
hr,
input,
select,
textarea {
    all: unset;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    -webkit-user-drag: none;
    color: var(--accent);
}
