html.dark {
    --accent: #fd6671;
    --accent-rgb: 253, 102, 113;
    --background: #191919;
    --background-rgb: 25, 25, 25;
    --foreground: #f6f6f6;
    --foreground-rgb: 246, 246, 246;
    --block: #2d2d2d;
    --block-rgb: 45, 45, 45;
    --message-box: #363636;
    --message-box-rgb: 54, 54, 54;
    --mention: rgba(251, 255, 0, 0.06);
    --mention-rgb: 251, 255, 0;
    --success: #65e572;
    --success-rgb: 101, 229, 114;
    --warning: #faa352;
    --warning-rgb: 250, 163, 82;
    --tooltip: #000000;
    --tooltip-rgb: 0, 0, 0;
    --error: #ed4245;
    --error-rgb: 237, 66, 69;
    --hover: rgba(0, 0, 0, 0.1);
    --hover-rgb: 0, 0, 0;
    --scrollbar-thumb: #ca525a;
    --scrollbar-thumb-rgb: 202, 82, 90;
    --scrollbar-track: transparent;
    --scrollbar-track-rgb: 0, 0, 0;
    --primary-background: #242424;
    --primary-background-rgb: 36, 36, 36;
    --primary-header: #363636;
    --primary-header-rgb: 54, 54, 54;
    --secondary-background: #1e1e1e;
    --secondary-background-rgb: 30, 30, 30;
    --secondary-foreground: #c8c8c8;
    --secondary-foreground-rgb: 200, 200, 200;
    --secondary-header: #2d2d2d;
    --secondary-header-rgb: 45, 45, 45;
    --tertiary-background: #4d4d4d;
    --tertiary-background-rgb: 77, 77, 77;
    --tertiary-foreground: #848484;
    --tertiary-foreground-rgb: 132, 132, 132;
    --status-online: #3abf7e;
    --status-online-rgb: 58, 191, 126;
    --status-away: #f39f00;
    --status-away-rgb: 243, 159, 0;
    --status-busy: #f84848;
    --status-busy-rgb: 248, 72, 72;
    --status-streaming: #977eff;
    --status-streaming-rgb: 151, 126, 255;
    --status-invisible: #a5a5a5;
    --status-invisible-rgb: 165, 165, 165;
    --light: false;
    --light-rgb: 0, 0, 0;
    --accent-contrast: black;
    --accent-contrast-rgb: 0, 0, 0;
    --background-contrast: white;
    --background-contrast-rgb: 255, 255, 255;
    --foreground-contrast: black;
    --foreground-contrast-rgb: 0, 0, 0;
    --block-contrast: white;
    --block-contrast-rgb: 255, 255, 255;
    --message-box-contrast: black;
    --message-box-contrast-rgb: 0, 0, 0;
    --mention-contrast: black;
    --mention-contrast-rgb: 0, 0, 0;
    --success-contrast: black;
    --success-contrast-rgb: 0, 0, 0;
    --warning-contrast: black;
    --warning-contrast-rgb: 0, 0, 0;
    --tooltip-contrast: white;
    --tooltip-contrast-rgb: 255, 255, 255;
    --error-contrast: black;
    --error-contrast-rgb: 0, 0, 0;
    --hover-contrast: white;
    --hover-contrast-rgb: 255, 255, 255;
    --scrollbar-thumb-contrast: black;
    --scrollbar-thumb-contrast-rgb: 0, 0, 0;
    --scrollbar-track-contrast: white;
    --scrollbar-track-contrast-rgb: 255, 255, 255;
    --primary-background-contrast: white;
    --primary-background-contrast-rgb: 255, 255, 255;
    --primary-header-contrast: black;
    --primary-header-contrast-rgb: 0, 0, 0;
    --secondary-background-contrast: white;
    --secondary-background-contrast-rgb: 255, 255, 255;
    --secondary-foreground-contrast: black;
    --secondary-foreground-contrast-rgb: 0, 0, 0;
    --secondary-header-contrast: white;
    --secondary-header-contrast-rgb: 255, 255, 255;
    --tertiary-background-contrast: black;
    --tertiary-background-contrast-rgb: 0, 0, 0;
    --tertiary-foreground-contrast: black;
    --tertiary-foreground-contrast-rgb: 0, 0, 0;
    --status-online-contrast: black;
    --status-online-contrast-rgb: 0, 0, 0;
    --status-away-contrast: black;
    --status-away-contrast-rgb: 0, 0, 0;
    --status-busy-contrast: black;
    --status-busy-contrast-rgb: 0, 0, 0;
    --status-streaming-contrast: black;
    --status-streaming-contrast-rgb: 0, 0, 0;
    --status-invisible-contrast: black;
    --status-invisible-contrast-rgb: 0, 0, 0;
    --min-opacity: 0;
    --min-opacity-rgb: 0, 0, 0;
    --header-height: 48px;
    --header-height-rgb: undefined, undefined, undefined;
    --effective-bottom-offset: 0px;
    --effective-bottom-offset-rgb: undefined, undefined, undefined;
}
