html:not(.dark) {
    --accent: #fd6671;
    --accent-rgb: 253, 102, 113;
    --background: #f6f6f6;
    --background-rgb: 246, 246, 246;
    --foreground: #000000;
    --foreground-rgb: 0, 0, 0;
    --block: #414141;
    --block-rgb: 65, 65, 65;
    --message-box: #f1f1f1;
    --message-box-rgb: 241, 241, 241;
    --mention: rgba(251, 255, 0, 0.4);
    --mention-rgb: 251, 255, 0;
    --success: #65e572;
    --success-rgb: 101, 229, 114;
    --warning: #faa352;
    --warning-rgb: 250, 163, 82;
    --tooltip: #fff;
    --tooltip-rgb: 255, 255, 255;
    --error: #ed4245;
    --error-rgb: 237, 66, 69;
    --hover: rgba(0, 0, 0, 0.2);
    --hover-rgb: 0, 0, 0;
    --scrollbar-thumb: #ca525a;
    --scrollbar-thumb-rgb: 202, 82, 90;
    --scrollbar-track: transparent;
    --scrollbar-track-rgb: 0, 0, 0;
    --primary-background: #ffffff;
    --primary-background-rgb: 255, 255, 255;
    --primary-header: #f1f1f1;
    --primary-header-rgb: 241, 241, 241;
    --secondary-background: #f1f1f1;
    --secondary-background-rgb: 241, 241, 241;
    --secondary-foreground: #1f1f1f;
    --secondary-foreground-rgb: 31, 31, 31;
    --secondary-header: #f1f1f1;
    --secondary-header-rgb: 241, 241, 241;
    --tertiary-background: #4d4d4d;
    --tertiary-background-rgb: 77, 77, 77;
    --tertiary-foreground: #3a3a3a;
    --tertiary-foreground-rgb: 58, 58, 58;
    --status-online: #3abf7e;
    --status-online-rgb: 58, 191, 126;
    --status-away: #f39f00;
    --status-away-rgb: 243, 159, 0;
    --status-busy: #f84848;
    --status-busy-rgb: 248, 72, 72;
    --status-streaming: #977eff;
    --status-streaming-rgb: 151, 126, 255;
    --status-invisible: #a5a5a5;
    --status-invisible-rgb: 165, 165, 165;
    --light: true;
    --light-rgb: 0, 0, 1;
    --accent-contrast: black;
    --accent-contrast-rgb: 0, 0, 0;
    --background-contrast: black;
    --background-contrast-rgb: 0, 0, 0;
    --foreground-contrast: white;
    --foreground-contrast-rgb: 255, 255, 255;
    --block-contrast: black;
    --block-contrast-rgb: 0, 0, 0;
    --message-box-contrast: black;
    --message-box-contrast-rgb: 0, 0, 0;
    --mention-contrast: black;
    --mention-contrast-rgb: 0, 0, 0;
    --success-contrast: black;
    --success-contrast-rgb: 0, 0, 0;
    --warning-contrast: black;
    --warning-contrast-rgb: 0, 0, 0;
    --tooltip-contrast: black;
    --tooltip-contrast-rgb: 0, 0, 0;
    --error-contrast: black;
    --error-contrast-rgb: 0, 0, 0;
    --hover-contrast: white;
    --hover-contrast-rgb: 255, 255, 255;
    --scrollbar-thumb-contrast: black;
    --scrollbar-thumb-contrast-rgb: 0, 0, 0;
    --scrollbar-track-contrast: white;
    --scrollbar-track-contrast-rgb: 255, 255, 255;
    --primary-background-contrast: black;
    --primary-background-contrast-rgb: 0, 0, 0;
    --primary-header-contrast: black;
    --primary-header-contrast-rgb: 0, 0, 0;
    --secondary-background-contrast: black;
    --secondary-background-contrast-rgb: 0, 0, 0;
    --secondary-foreground-contrast: white;
    --secondary-foreground-contrast-rgb: 255, 255, 255;
    --secondary-header-contrast: black;
    --secondary-header-contrast-rgb: 0, 0, 0;
    --tertiary-background-contrast: black;
    --tertiary-background-contrast-rgb: 0, 0, 0;
    --tertiary-foreground-contrast: black;
    --tertiary-foreground-contrast-rgb: 0, 0, 0;
    --status-online-contrast: black;
    --status-online-contrast-rgb: 0, 0, 0;
    --status-away-contrast: black;
    --status-away-contrast-rgb: 0, 0, 0;
    --status-busy-contrast: black;
    --status-busy-contrast-rgb: 0, 0, 0;
    --status-streaming-contrast: black;
    --status-streaming-contrast-rgb: 0, 0, 0;
    --status-invisible-contrast: black;
    --status-invisible-contrast-rgb: 0, 0, 0;
    --min-opacity: 0;
    --min-opacity-rgb: 0, 0, 0;
    --header-height: 48px;
    --header-height-rgb: undefined, undefined, undefined;
    --effective-bottom-offset: 0px;
    --effective-bottom-offset-rgb: undefined, undefined, undefined;
}
